 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>The Knowledge Tree VR project aims to develop the library of the future, one that you can visit through virtual reality. The goal is to bring access to open literature in liberal arts and sciences at your fingertip and make it accessible as a tree of knowledge.</p>
                </div>
                <div class="col-lg-4">
                    <p>The tree of knowledge will be an interactive tool for discovery. Visualise the development of a field, e.g. philosophy, chronologically as a tree with roots and stem and with its branches. Search how different ideas are connected, who has thought about it and what they said.</p>
                </div>
                <div class="col-lg-4">
                    <p>This project is dedicated to one of the United Nations Sustainable Development Goals: quality education. It aims at providing an innovative platform for learners to engage in interactive and enthusiastic research activities.</p>
                </div>
            </div>
        </div>
    </section>
