 <!-- About Section -->
    <section id="audience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Is it for me?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>If you here, the probable answer is YES! Do you wish that your search engine was more intuitive? Would you like to google your physical library? Then Knowledge Tree VR is for you.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Students searching for content related to their last class, or that project or essay. Concerned citizens that want to be informed and learn about topics that are being debated in their social circle.</p>
                </div>
                <div class="col-lg-4">
                    <p>Researchers that want to organise the knowledge about their research field or project, and want to keep track of new literature. </p>
                </div>
                <div class="col-lg-4">
                    <p>Innovators that want to find trends about a certain topic or field, and want to identify opportunities for innovative products.</p>
                </div>
            </div>
        </div>
    </section>