 <!-- About Section -->
    <section class="success" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What do I get?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p><strong>Search and Visualise</strong></p>
                    <p>Instead of only seeing a list of links when you search for something, you will also see the connection between them. You will see together those items that are similar to each other, and will see what make them similar. This is knowledge tree!</p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Create</strong></p>
                    <p>Found something interesting? Then save it! Create you own knowledge trees. You will be able to organise your trees and explain how your items are connected. This will help you building a mindmap of your search while you keep browsing for new interesting things.</p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Share and Collaborate</strong></p>
                    <p>Would you like to share your findings? Explain your thoughts? Then share your knowledge trees. Share with your colleagues, students, and peers. If you are working in a team, then just build the tree together.</p>
                </div>
            </div>
        </div>
    </section>